$font-base: 14px;
$font-big: 22px;

$color-main: #48afb8;
$color-font: #223322;
$color-bg: #EEEEEE;
$color-error: #E53935;

@function spacer($amount) {
    @return ($amount*12px);
}

body {
    color: $color-font;
    background-color: $color-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

#root, .app-container {
    width: 100%;
    margin: 0;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: $color-bg;
    background-color: $color-main;
    font-size: $font-big;

    .navbar-title {
        flex: 1 1 auto;
        margin-left: spacer(2);
        cursor: pointer;
    }

    .navbar-selector {
        flex: 1 1 auto;
        margin-right: spacer(2);
        text-align: right;

        span {
            margin-right: spacer(1);
        }
    }
}

.weather-min-container {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-main;
    color: $color-bg;
    width: 250px;
    padding: spacer(1);
    margin: spacer(1);
    cursor: pointer;
    box-shadow: 3px 3px 5px 6px #ccc;
    background-color: $color-main;

    .weather-info {
        display: flex;
        flex-flow: column;
        align-items: center;
        
        .temp {
            font-size: $font-big;
            padding: spacer(1);
        }

        .weather-icon {
            height: 75px;
            width: 75px;
            padding: spacer(1);
        }
    }

    .weather-name {
        font-size: $font-big;
    }
}

.default-cities {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.weather-custom-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .form-group {
        max-width: 250px;
        margin: spacer(2);

        .input-group-btn {
            .btn-primary {
                background-color: $color-main;
                border-color: $color-main;
            }
        }
    }

    .weather-min-container {
        background-color: $color-bg;
        color: $color-main;
    }
}

.weather-detail-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .weather-detail-map {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: spacer(1);
        width: 300px;
    }

    .weather-detail-info {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        margin: spacer(1);
    }

    .city-map {
        height: 300px;
        width: 300px;
        border: 1px solid $color-main;
    }

    .city-weather {
        font-size: $font-big;

        span {
            padding: spacer(1);
        }
    }

    .city-forecast {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;

        .forecast {
            flex: 0 1 auto;
            font-size: $font-base;
            width: 200px;
            padding: spacer(2);
            text-align: center;

            .date {
                font-size: $font-big
            }

            .info {
                span {
                    padding: spacer(1);
                }
            }
        }
    }
}

.loading-main-error, .loading-main-page, .error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-big;
    height: 100vh;

    .error-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fa {
        font-size: 40px;
        color: $color-error;
        margin: spacer(1);
    }
}
